{%extends 'base.html'%}
{%block title%}
<title>about</title>
{%endblock%}
{%block content%}

<div class=container-fluid id="pad" >
<img src="../static/images/cat1.jpg"  alt="..."class="rounded-pill  rounded-sm" height="150px" width="150px">
    <img src="../static/images/cat3.jpg"  alt="..."class="rounded-pill  rounded-sm" height="150px" width="150px">
    <img src="../static/images/me.jpg"  alt="..."class="rounded-pill  rounded-sm" height="150px" width="150px">
    <img src="../static/images/cat2.jpg"  alt="..."class="rounded-pill  rounded-sm" height="150px" width="150px">
  <div class="row" id="pad">


    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
    <p><b >my profile</b></p>
    AM upright nwapu by name, am from IHITE-UBOMA LGA in IMO STATE Nigeria,i attended abia state senior science school in
        ishi ala ngwa, and also nwa high school in aba osisioma to be precise.<p>i love playing football and and
    codding in python </p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
        <p><b>My Skills </b></p>
        well i have some great skills that i will like to share with you guys,first and foremost is my  <b>codding kills</b>
        which i enjoy doing,
        <p><b>fashion designing</b> is another great skill i have on record i have made some cloths for myself.
            <b>teaching</b> is another fine skill i have.on record i have thought up to five years in secondary schools
            managing many positions
        </p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
        <p><b >My Qualifications</b></p>
        well so far i have bagged first school leaving certificate,waec certificate,bachelor in science(BSC)
        in <b>computer science with statistics</b> and also a certificate in web development
    </div>

  </div>





</div>

{%endblock%}